@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

    --sidebar-width: 280px;
    --main-padding: .5rem .5rem .5rem calc(var(--sidebar-width) + .5rem);

    /* Colors */
    --color-primary: #fed53a;
    --color-background: #141414;
    --color-background-secondary: #1a1a1a;

    /* Fonts */
    --font-size: 18px;
    --font-size-paragraph: 18px;

    /* Screens */

    --sidebar-icon-only: 1156px;
}

body {
    color: var(--color-background);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
