@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

    --navbar-height: 80px;
    --sidebar-width: 280px;
    --main-padding: .5rem .5rem .5rem calc(var(--sidebar-width) + .5rem);
    --content-width: 908px;

    /* Colors */
    --color-primary: #fed53a;
    --color-background: #141414;
    --color-background-light: #f3f3f3;
    --color-background-secondary: #1a1a1a;

    /* Fonts */
    --font-size: 18px;
    --font-size-paragraph: 18px;

    /* Screens */

    --sidebar-icon-only: 1368px;
    --sidebar-hidden: 875px;
}

[data-theme='dark'] {
    --color-background: #f3f3f3;
    --color-background-secondary: #e6e6e6;
}

[data-theme='dark'] [data-hide-on-theme='dark'],
[data-theme='light'] [data-hide-on-theme='light'] {
  display: none;
}

@media (max-width: 1367px) {
    :root {
      --sidebar-width: 80px;
      --content-width: 728px;
    }
}

@media (max-width: 875px) {
    :root {
      --sidebar-width: 0;
      --main-padding: calc(var(--navbar-height) + .5rem) .5rem .5rem .5rem;
      --content-width: 100%;
    }
}

body {
    color: var(--color-background);
}



@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
